In [4]:
import pandas as pd

df = pd.read_csv('precious_metals_historical_data.csv')
display(df.head())

print("Dataset Shape:", df.shape)
print(df.info())

,Date,Silver_Price,Gold_Price,Platinum_Price,Silver_Returns,Gold_Returns,Platinum_Returns,Gold_Silver_Ratio,Silver_Volatility_30d,Gold_Volatility_30d,Platinum_Volatility_30d,Silver_MA50,Silver_MA200,Gold_MA50,Gold_MA200
0,2016-02-03,13.95,109.250000,84.940002,NaN,NaN,NaN,7.831541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-02-04,14.17,110.570000,87.260002,0.015771,0.012082,0.027313,7.803105,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-02-05,14.34,112.320000,87.919998,0.011997,0.015827,0.007564,7.832636,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-02-08,14.59,113.830002,89.199997,0.017434,0.013444,0.014559,7.801919,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-02-09,14.51,113.580002,89.849998,-0.005483,-0.002196,0.007287,7.827705,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Dataset Shape: (2513, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2513 entries, 0 to 2512
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     2513 non-null   object
 1   Silver_Price             2513 non-null   float64
 2   Gold_Price               2513 non-null   float64
 3   Platinum_Price           2513 non-null   float64
 4   Silver_Returns           2512 non-null   float64
 5   Gold_Returns             2512 non-null   float64
 6   Platinum_Returns         2512 non-null   float64
 7   Gold_Silver_Ratio        2513 non-null   float64
 8   Silver_Volatility_30d    2483 non-null   float64
 9   Gold_Volatility_30d      2483 non-null   float64
 10  Platinum_Volatility_30d  2483 non-null   float64
 11  Silver_MA50              2464 non-null   float64
 12  Silver_MA200             2314 non-null   float64
 13  Gold_MA50                2464 non-null   float64
 14  Gold_MA200               2314 non-null   float64
dtypes: float64(14), object(1)
memory usage: 294.6+ KB
None